.sidebar {
  width: 400px;
  height: 100%;
  box-sizing: border-box;
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  background: #eee;
}

.heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  font-size: .8rem;
  color: #555;
}

.heading__left {
  font-weight: bold;
  text-transform: uppercase;
}

.heading__right {
  //
}

.dropdown {
  &, & > * {
    width: 100%;
  }
}

.scroll-container {
  flex: 1;
  overflow-y: auto;
}

.totals {
  display: flex;
  flex-direction: column;
  gap: 4px;

  & > .total {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 4px;

    & > .label {
      flex: 1;
      font-weight: bold;
    }
  }
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: flex-end;
  gap: 4px;

  & > * {
    flex: 1;
  }
}
