<mat-card>
  <div class="container">
    <div class="image">
      <img
        [src]="'/assets/thumbnails/' + movie.id + '.jpg'"
        [alt]="movie.title"
      />
    </div>
    <div class="details">
      <div class="title">{{ movie.title }}</div>
      <div
        class="price"
        *ngIf="
          this.rentalCreationSidebarFormService.getMovieRentalPrice(movie)
            .length > 0
        "
      >
        {{
          this.rentalCreationSidebarFormService.getMovieRentalPrice(movie)[0]
            .price | currency
        }}
      </div>
    </div>
    <div class="buttons">
      <!-- Remove movie icon button-->
      <button
        mat-icon-button
        color="warn"
        (click)="
          this.rentalCreationSidebarFormService.removeMovieFromPendingRental(
            movie
          )
        "
      >
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
</mat-card>
