.header {
  margin-bottom: 16px;
}

.center {
 &, & * {
  align-items: center;
  text-align: center;
 }

 .header {
  flex: 1;
 }
}

.columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 16px;

  flex: 1;
  width: 100%;

  > .columns__column {
    &--left {
      flex: 1;

      .content {
        //
      }

      .content__details {
        display: flex;
        flex-direction: column;
        gap: 8px;
      }

      .content__details__detail {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 4px;
      }

      .content__description {
        margin-top: 16px;
      }
    }

    &--right {
      max-width: 125px;
      padding: 16px;

      & > * {
        width: 100%;
      }

      .image {
        object-fit: cover;
      }
    }
  }
}

.barcode {
  padding: 0 16px;
}

.actions {
  .spacer {
    flex: 1;
  }
}
