<mat-card [class]="center ? 'center' : ''">
  <mat-card-header class="header">
    <mat-card-title> {{ movie.title }}</mat-card-title>
    <mat-card-subtitle *ngIf="showAvailability">
      {{ getCountAvailableForRentalWithPending() }} Available for Rental of
      {{ movie.count_owned }} Owned
    </mat-card-subtitle>
  </mat-card-header>

  <div class="columns">
    <div
      class="columns__column columns__column--left"
      *ngIf="showStatistics || showDescription"
    >
      <mat-card-content class="content">
        <mat-card-subtitle class="content__details">
          <div class="content__details__detail">
            <div>Released</div>
            <div>{{ movie.year }}</div>
          </div>
          <div class="content__details__detail">
            <div>Restriction</div>
            <div>{{ movie.rating }}</div>
          </div>
          <div class="content__details__detail">
            <div>Duration</div>
            <div>{{ movie.length.h || 0 }}h {{ movie.length.m || 0 }}m</div>
          </div>
          <div class="content__details__detail">
            <div>IMDB Rating</div>
            <div>{{ movie.ranking }} ({{ movie.voteCount }})</div>
          </div>
          <div class="content__details__detail">
            <div>Metarating</div>
            <div>{{ movie.metarating }}</div>
          </div>
        </mat-card-subtitle>

        <p class="content__description">
          {{ movie.description | sliceUntilFirstDot }}
        </p>
      </mat-card-content>
    </div>

    <div class="columns__column columns__column--right">
      <img
        mat-card-image
        [src]="'/assets/thumbnails/' + movie.id + '.jpg'"
        [alt]="movie.title"
        class="image"
      />
    </div>
  </div>

  <div *ngIf="showBarcode" class="barcode">Barcode: {{ movie.barcode }}</div>

  <mat-card-actions class="actions">
    <div class="spacer"></div>

    <button
      *ngIf="canBeAddedToRentalCart() && showAddToRentalCartButton"
      (click)="addMovieToRentalCart(movie)"
      mat-button
    >
      Add to Rental
    </button>

    <button
      *ngIf="showReturnItemButton && rental != null"
      (click)="returnItemFromRental(movie)"
      mat-button
    >
      Return Item
    </button>
  </mat-card-actions>
</mat-card>
